//components/_common.scss
header {
    background-color: $black;
    .wrap {
        width: 1200px;
        // background-color: $gray-9;
        .logo {
            a {
                img{
                    display: block;
                }
            }
        }
        nav{
            ul{
                li{
                    a{
                        text-transform: uppercase;
                        color: $gray-7;
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
        .myLink{
            ul{
                li{
                    button{
                        border: none;
                        background-color: transparent;
                        img{
                            display: block;
                            height: 24px;
                            filter: invert(80%);
                        }
                        &:hover{
                            img{
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
        }
    }
}
